[user]
  name = sainu
  email = uovo.aureo.000@gmail.com
[core]
  excludesfile = /Users/sainokatsutoshi/.gitignore
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[diff]
  compactionHeuristic = true
[color]
  ui = true
[init]
  templatedir = ~/.git_tmp
