[user]
  name = sainu
  email = saino.katsutoshi@moneyforward.co.jp
[core]
  excludesfile = ~/.gitignore
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[diff]
  compactionHeuristic = true
[color]
  ui = true
[init]
  templatedir = ~/.git_tmp
[url "git@github.com:"]
  insteadOf = https://github.com/
